
.box2{
    padding-top: 50px;
    padding-left: 70px;
}
.box1{
    background-color:#1da1f2;
    height: 90vh;
    padding-top: 250px;
    padding-left: 200px;
    color: #fff;
    font-size: 20px;
    font-size: 25px;
    background-image: url("image/twitter1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; right;
}

.footerclass{background-color: #fff;height: 30px }
.padd{
    padding-left: 20px;
}
.padd2{
padding-bottom: 30px;
}
.radius{
    border-radius: 60px;
    font-weight: bold;
    
}
.padd{
    padding-right: 20px;
}
.center1{
    position: relative;left:90px;
    font-weight: bold;
    margin-top: 40px;
}
.forgetpassword{color: gray;padding-left: 270px;position: relative;bottom:20px}
.sign-up{
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 350px;
}
.log-in{
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 350px;
    border-color: blue;
    border-style: solid;
    color: blue;
    background-color: #fff;
}
.log-in:hover{background-color: #eaf5fd;color: blue}
.center {
   padding-right: 400px;
    color: #1da1f2;
}
.color{
    background: #fff;
    
}
.radius2{
    border-radius: 10px;
}
.radiusserach{ border-radius: 20px;width: 240px!important;position: relative;right: 10px }
.profileicon{position: relative;right: 10px;font-size: 30px}

.btweet{
    border-radius: 40px;
    border-color: #1da1f2;
    background-color: #1da1f2;
    color: #fff;
    margin-right:  30px;
    
}

.raduisimage{
    border-radius: 50%;
    position: relative;bottom: 20px;
    margin-left:15px;
}
.paddtext{
 padding-left: 75px;   
 position: relative;bottom: 55px;
}
.span{
    color: darkgray;
    padding-right:   85px;
    position: relative;bottom:  40px;

}
.span1{color: darkgrey;position: relative;bottom: 40px}
.paddtext a{
    color: black;
}
.paddtext a:hover{
    color: black;
}

.card1{position: relative;right: 50px;width: 285px;margin-top: 20px;height: 235px}
.divone{background-color: #e6ecf0}
.span a{color: darkgrey;text-decoration: none;}
.span a:hover{color: #1da1f2;}
.span1 a{color: darkgray;text-decoration: none;}
.span1 a:hover{color: #1da1f2;}
.span1 a .number {color: #1da1f2;}
.span a .number {color: #1da1f2;}
.paddb1:hover{background-color: #fff;color: #000;border-color: #fff}
.card2{height: 260px;background-color: #fff;padding-top: 5px;border-color: #e6ecf0;border-style: solid;border-width: 1px;position: relative;right: 50px;width: 285px}
.card2style{font-weight: bold;font-size: 20px;position: relative;bottom: 10px}
.cardstyle2{ font-size: 14px;font-weight: normal}
.liststyle{list-style: none;margin-right: :25px;}
.stylesearh{height :40px;width: 520px!important;margin-left: 50px;position: relative;bottom:40px}
.divstyle{background-color:#cbe7f8;height: 65px; margin-top:20px;width: 590px;position: relative;right: 35px}
.picon2{font-size: 35px;margin-top:  20px;padding-left: 10px}
.iclass{right: 0;padding-right: 28px;padding-bottom: 75px}
.iclass2{right:25px; top:10px}
.div3{background: #fff;height: 27rem;margin-top:20px;border-style: solid;border-width: 1px;border-color:#e6ecf0;position: relative;left:30px;width: 310px}
.listyle{list-style: none;margin-top:15px;margin-right:  30px}
.rd2{border-radius: 50%;height: 50px}
.acolor{color: black;font-weight: bold;padding-left: 2px}
.iclose{font-size: 30px}
.paddun{margin-right:17px;font-size: 13px;border-bottom:inset;}
.pxicon{color:#e6ecf0;font-size: 5px;position: relative;left :300px ;padding-top: 10px}
.follwbutton{margin-bottom:10px;margin-left:  65px;border-radius:100px}
.follwbutton:hover{background-color: #e5eaef}
.div4{background: #fff;height: 10rem;border-style: solid;border-width: 1px;border-color:#e6ecf0 }
.divcot{width: 36rem;height: auto;background-color: #fff;border-width: 1px;border-color: #fff;border-style: solid;position: relative;top: 21px;position: relative;right: 37px;border-bottom:inset;}
.rd3{width: 50px;height: 50px;border-radius: 50%;margin-left:10px;margin-top:10px}
.razzaz{color: black;font-weight:bold;margin-left:10px}
.textpadd{font-size: 14px;padding-top: 15px;padding-left: 40px}
.translate{font-size: 13px;color: gray;padding-left: 50px}
.padd20{padding-right: 50px;color: gray;padding-top: 10px}
.centericon{padding-left: 70px}
.listfooter{color: gray;list-style: none;padding-top: 10px;padding-right: 20px;font-size: 12px}
.imgstyle{width: 506px;height: 506px}
.paddd{padding-left: 59px}
.verification{width: 20px;height: 20px}
.gray{color: gray;}
.padddiv{position: relative;right:30px}
.gray2{position:relative;right:90px;position: relative;top: 8px;color: gray;font-size: 10px}
.lastcol3{margin-top: 13px ;width: 307px;height:200px;border: solid;border-width: 1px;background-color: #fff;border-color: #fff;position: relative;left:32px}
.graypadd{color: gray;position: relative;left:50px}
.stylep{padding-top: 15px;font-size: 14px;font-style: "Segoe UI",Arial,sans-serif;padding-left: 10px;color: gray}
.lastDiv{border-bottom: inset; }
.lastcard{position: relative;top: 10px ;padding-left: 15px}
.hedear{width: 100%;height: 175px;background-color: #1da1f2;}
.underhedear{width:100%;height: 60px;background-color: #fff;}
.profileimage{margin-left: 70px;position: relative;bottom: 150px}
.centerprofile{padding-left: 500px}
.topbuttom{padding-top: 5px}
.paddprofile{padding-left: 30px}
.numberButton{padding-left: 13px;position: relative;bottom: 20px;}
.centerprofile a{color: gray;}
.centerprofile a{text-decoration: none;}
.aa:hover{
    border-bottom: 1px solid red;
}
