
Conversation opened. 1 read message.

Skip to content
Using Gmail with screen readers

  More 
2 of 34
 
aa 
Inbox
x 

talha abduallah <alyassent@gmail.com>
AttachmentsJul 26 (1 day ago)
to me 

3 Attachments
	
Click here to Reply or Forward
0.29 GB (1%) of 15 GB used
Manage
Terms · Privacy · Program Policies
Last account activity: 18 minutes ago
Details

.box2{
    padding-top: 50px;
    padding-left: 70px;
}
.box1{
    background-color:#1da1f2;
    height: 100vh;
    padding-top: 250px;
    padding-left: 200px;
    color: #fff;
    font-size: 20px;
    font-size: 25px;
    background-image: url("")

}
.padd{
    padding-left: 20px;
}
.padd2{
padding-bottom: 30px;
}
.radius{
    border-radius: 60px;
    font-weight: bold;
    
}
.padd{
    padding-right: 20px;
}
.center{
    padding-left: 70px;
    font-weight: bold;
}
.sign-up{
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 350px;
}
.log-in{
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 350px;
    background-color: #fff;

}
.center {
   padding-right: 400px;
    color: #1da1f2;
}
.color{
    background: #fff;
    
}
.radius2{
    border-radius: 20px;
}
.navbar .serachicon{
background-image: url("image/serach icon.png")
}
.picon{
    font-size: 30px;
    width: 80px;
}
.btweet{
    border-radius: 40px;
    border-color: #1da1f2;
    background-color: #1da1f2;
    color: #fff;
    position: relative;right: 30px;
    
}
.firstclo{
    margin-top: 20px;
    position: relative;right: 30px;
    
}
.raduisimage{
    border-radius: 50%;
    position: relative;bottom: 35px;
    position: relative;left: 17px;
}
.paddtext{
    position: relative;bottom: 90px;left: 80px;

}
.span{
    color: darkgray;
    position: relative;bottom: 85px;right: 10px;

}
.span1{
    color: darkgrey;
    position: relative;bottom: 85px;left: 70px;

}
.paddtext a{
    color: black;
}
.paddtext a:hover{
    color: black;
}

.card1{
    width: 17rem;
    height: 15rem;
}
.divone{background-color: #e6ecf0}
.span a{color: darkgrey;text-decoration: none;}
.span a:hover{color: #1da1f2;}
.span1 a{color: darkgray;text-decoration: none;}
.span1 a:hover{color: #1da1f2;}
.span1 a .number {color: #1da1f2;}
.span a .number {color: #1da1f2;}
.cardtext{font-weight: bold;}
.cardtext2{font-size: 14px}
.paddb2{position: relative;left: 70px;}
.paddb1{position: relative;left: 70px;background-color: #fff;color: black;font-weight: bold;border-color: #fff;}
.paddb1:hover{background-color: #fff;color: #000;border-color: #fff}
.card2{width:258px;height: 260px;background-color: #fff;padding-top: 5px;box-sizing: 1px;border-color: #e6ecf0;border-style: solid;}
.card2style{font-weight: bold;font-size: 20px;position: relative;bottom: 10px}
.cardstyle2{ font-size: 14px;font-weight: normal}
.liststyle{list-style: none; position: relative;right:25px;}
.stylesearh{width: 500px!important;height :40px;position: relative;top: 2px}
.divstyle{width:560px; background-color:#cbe7f8;height: 70px; position: relative;top:20px}
.picon2{font-size: 35px; width: 80px;position: relative;top: 20px;position: relative;right: 3px}
.iclass{right: 0;padding-right: 15px}
.iclass2{right: 15px; top:10px}
.div3{background: #fff;width: 17rem !important; max-width: 17rem !important; height: 25rem;position: relative;top: 20px;border-style: solid;border-width: 1px;border-color:#e6ecf0}
.listyle{list-style: none;position: relative;top: 15px;position: relative;right: 30px}
.rd2{border-radius: 50%;width:50px;height: 50px}
.acolor{color: black;font-weight: bold;padding-left: 2px}
.iclose{font-size: 30px}
.positioncont{position:relative;right:38px}
.paddun{position: relative;right: 17px;font-size: 13px;border-bottom: inset;}
.pxicon{position: relative;left: 220px;position: relative;bottom: 60px;color:#e6ecf0;font-size: 5px}
.follwbutton{position: relative;bottom: 10px; position: relative;left: 65px;border-radius:100px}
.follwbutton:hover{background-color: #e5eaef}
.div4{background: #fff; width: 17rem !important;max-width: 17rem !important;height: 10rem;border-style: solid;border-width: 1px;border-color:#e6ecf0 }
.divcot{width: 36rem;height: 13rem;background-color: #fff;border-width: 1px;border-color: #fff;border-style: solid;position: relative;top: 21px;position: relative;right: 37px}
.rd3{width: 50px;height: 50px;border-radius: 50%;position: relative;left: 10px;position: relative;top: 10px}
.razzaz{color: black;font-weight:bold;position: relative;left: 10px}
.textpadd{font-size: 14px;padding-top: 15px;padding-left: 40px}
.translate{font-size: 13px;color: gray;padding-left: 50px}
.padd20{padding-right: 50px;color: gray;padding-top: 10px}
.centericon{padding-left: 70px}